
body{
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100vh;
 
}

.search-wrapper{
display: flex;
border: 1px solid rgba(0, 0, 0, 0.276);
align-items: stretch;
border-radius: 50px;
background-color: #fff;
overflow: hidden;
max-width: 400px;
box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.273);

}
#search{
  border:none;
  width:350px;
  font-size: 15px;
}
#search:focus{
  outline: none;
}
.search-icon{
  margin: 10px;
  /* color:rgba(0, 0, 0, 0.564); */
}
#search-button{
  border:none;
  cursor: pointer;
  color:#1dbf73;
  padding:0px 10px;
}
.head{
  height: auto;
}
.footer{
  margin-top: 200px;
}